<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/512px-LEGO_logo.svg.png"
      alt="Logo"
      class="logo mb-3"
    />
    <img
      src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png"
      alt="User Profile"
      class="profile-icon"
    />

    <div class="container mt-5">
      <div class="form-container text-center">
        <form>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="HỌ VÀ TÊN"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="EMAIL"
            />
          </div>
          <div class="form-group">
            <input
              type="tel"
              class="form-control"
              id="phone"
              name="phone"
              placeholder="SỐ ĐIỆN THOẠI"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              name="address"
              placeholder="ĐỊA CHỈ"
            />
          </div>
          <button type="submit" class="btn btn-success btn-block">
            XÁC NHẬN
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
