<app-header></app-header>
<router-outlet></router-outlet>

<div class="tab">
    <div class="tab-container">
        <button mat-fab class="mat-fab">
            <mat-icon>list</mat-icon>
        </button>
        <button mat-fab class="mat-fab" (click)="createHost(createHostForm)">
            <mat-icon>people</mat-icon>
        </button>
    </div>
</div>

<div class="accountTable">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tên</th>
        <th scope="col">Gmail</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Chức vụ</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Cấm</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of listAccount">
        <td>{{ i.full_name }}</td>
        <td>{{ i.gmail }}</td>
        <td>{{ i.phone_number }}</td>
        <td>{{ i.roles[0] }}</td>
        <td> {{ i.status === 1 ? "Đang hoạt động" : "Đã bị cấm"}}</td>
        <td>
          <button mat-fab class="mat-fab" (click)="tranformStatus(i.gmail, i.status)">
            <mat-icon>transform</mat-icon>
          </button>      
        </td>
      </tr>
    </tbody>
  </table>
</div>


  
  <ng-template #createHostForm>
    <form ngNativeValidate>
      <div class="modal-header">
        <b><h1 class="modal-title pull-left">Tạo host</h1></b>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input autocomplete="off" required class="form-control mt-1" id="username" placeholder="Tên phòng khám" [(ngModel)] = "name_clinic"
          [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <input autocomplete="off" required class="form-control mt-1" id="username" placeholder="Họ và tên" [(ngModel)] = "full_name"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <input autocomplete="off" required class="form-control mt-1" id="username" placeholder="Email" [(ngModel)] = "gmail"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <input autocomplete="off" required class="form-control mt-1" id="username" placeholder="Số điện thoaị" [(ngModel)] = "phone_number"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <input autocomplete="off" required class="form-control mt-1" id="username" placeholder="Địa chỉ" [(ngModel)] = "address"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <input autocomplete="off" required class="form-control mt-1" id="username" placeholder="Mật khẩu" [(ngModel)] = "password"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <input autocomplete="off" required class="form-control mt-1" id="username" placeholder="Địa chỉ phòng khám" [(ngModel)] = "address_clinic"
          [ngModelOptions]="{standalone: true}">
      </div>
      </div>
      <div class="modal-footer">
        <div class="operate-btn">
          <button type="button" class="btn btn-danger mt-3" (click)="closeDialog()">Huỷ</button>
          <button type="button" class="btn btn-warning mt-3" (click)="registerClinic()">Đăng ký</button>
        </div>
      </div>
    </form>

  </ng-template>