<!-- <mat-progress-spinner 
    *ngIf="!events"
    color="primary"
    mode="indeterminate"
    class="mx-auto mt-5">
</mat-progress-spinner> -->
<app-header></app-header>
<router-outlet></router-outlet>

<div class="tab"> 
    <div class="tab-container">
        <button mat-fab class="mat-fab" (click)="openCalendar()">
            <mat-icon>calendar_today</mat-icon>
        </button>
        <button mat-fab class="mat-fab" (click)="openMedical()">
            <!-- <mat-icon>add</mat-icon> -->
            <!-- <img style="width: 50px;height:50px;margin-top: 15px;" src="https://static-00.iconduck.com/assets.00/medical-symbol-icon-2048x2048-t5g00ol5.png" alt=""> -->
            <img style="width: 50px;height:50px;margin-top: 15px;" src="assets/medicine.png" alt="Logo">
        </button>
    </div>
</div>


<div class="calendar-container" *ngIf="events && calendar">
  <h2 *ngIf="decodedClinicName">Bạn đang đặt lịch của {{decodedClinicName}}</h2>
    <div class="row mt-4">
        <div class="col-md-4 text-left">
        </div>
        <div class="col-md-4 text-center">
            <h3 class="mt-0">{{ viewDate | calendarSchedulerDate:(view + 'ViewTitle'):locale:weekStartsOn:excludeDays:viewDays:startsWithToday }}</h3>
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group m-1" role="group">
                <button type="button" class="btn btn-primary"
                        mwlCalendarPreviousView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        [daysInWeek]="viewDays"
                        [excludeDays]="excludeDays"
                        [disabled]="prevBtnDisabled"
                        (viewDateChange)="dateOrViewChanged()">
                    <span class="valign-center">
                        <i title="Precedente"
                            class="material-icons md-18">keyboard_arrow_left</i>
                    </span>
                </button>
                
                <button type="button" class="btn btn-light"
                        mwlCalendarToday
                        [(viewDate)]="viewDate"
                        (viewDateChange)="dateOrViewChanged()">
                    <span class="valign-center">
                        <i title="Oggi"
                            class="material-icons md-18">today</i>
                    </span>
                </button>

                <button type="button" class="btn btn-primary"
                        mwlCalendarNextView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        [daysInWeek]="viewDays"
                        [excludeDays]="excludeDays"
                        [disabled]="nextBtnDisabled"
                        (viewDateChange)="dateOrViewChanged()">
                    <span class="valign-center">
                        <i title="Successivo"
                            class="material-icons md-18">keyboard_arrow_right</i>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br>
    <div [ngSwitch]="view">
        <calendar-scheduler-view *ngSwitchCase="CalendarView.Week"
                                [viewDate]="viewDate"
                                [events]="events"
                                [locale]="locale"
                                [viewDays]="viewDays"
                                [weekStartsOn]="weekStartsOn"
                                [excludeDays]="excludeDays"
                                [startsWithToday]="startsWithToday"
                                [hourSegments]="hourSegments"
                                [dayStartHour]="dayStartHour"
                                [dayEndHour]="dayEndHour"
                                [dayModifier]="dayModifier"
                                [hourModifier]="hourModifier"
                                [segmentModifier]="segmentModifier"
                                [eventModifier]="eventModifier"
                                [showEventActions]="true"
                                [showSegmentHour]="true"
                                [zoomEventOnHover]="true"
                                (dayHeaderClicked)="dayHeaderClicked($event.day)"
                                (hourClicked)="hourClicked($event.hour)"
                                (segmentClicked)="segmentClicked('Clicked', $event.segment, viewScheduleForm)"
                                (eventClicked)="eventClicked('Clicked', $event.event)"
                                (eventTimesChanged)="eventTimesChanged($event)"
                                [refresh]="refresh">
        </calendar-scheduler-view>
    </div>
</div>



<div class="medical-container" *ngIf="!calendar">
    <div class="body" >
        <div class="container" >
          <div *ngFor="let i of listMedicine"> 
            <div class="item">
              <img [src]="i.medicine_image">
                <!-- <h2>{{ i.name }}</h2> -->
                <button style="border-radius: 20px;" mat-stroked-button (click)="viewDetail(i.descrition,viewDetailForm)">{{ i.name }}</button>
                <h2>{{ i.price }}</h2>
            </div>
          </div>
        </div>
          
        <!-- <div class="pagination">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div> -->
      
      </div>
</div>

<ng-template #viewDetailForm>
    <form ngNativeValidate>
      <div class="modal-header">
          <b><h1 class="modal-title pull-left">Thông tin thuốc</h1></b>
          <button class="btn-close" aria-label="Close" (click)="closeForm()"></button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <img src="https://www.petmart.vn/wp-content/uploads/2013/03/thuoc-xit-tri-ve-ran-cho-cho-meo-merial-frontline-spray-treatment.jpg">
          </div>
          <div class="time">
            Description: {{medicineDescription}}
          </div>
      </div>
  </form>
</ng-template>

<ng-template #viewScheduleForm>
    <form ngNativeValidate>
        <div class="modal-header">
            <b><h1 class="modal-title pull-left">Đặt lịch</h1></b>
            <button class="btn-close" aria-label="Close" (click)="closeForm()"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="title">Thêm tiêu đề</label>
              <input autocomplete="off" required class="form-control mt-1" id="title" placeholder="" [(ngModel)]="content" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
                <label for="doctor">Chọn bác sĩ</label>
                <!-- <input autocomplete="off" required class="form-control mt-1" id="doctor" placeholder=""> -->
                <select class="form-select" aria-label="Default select example" (change)="onSelectChange($event)">
                  <option selected value="0">Chọn bác sĩ</option>
                  <option *ngFor="let doctor of doctorList" [value]="doctor?.id">{{ doctor?.user_name }}</option>
                </select>
            </div>
            <div class="time">
                <label for="username">Thời gian tới khám</label>
                <input autocomplete="off" disabled required class="form-control mt-1" id="doctor" placeholder="" [(ngModel)]="bookingDate" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
                <label for="note">Ghi chú</label>
                <textarea autocomplete="off" required class="form-control mt-1" id="note" placeholder=""></textarea>
            </div>
        </div>

        <div class="modal-footer">
            <div class="operate-btn">
              <button type="button" class="btn btn-primary mt-3" (click)="addbooking()">Đặt lịch</button>
            </div>
        </div>
    </form>
</ng-template>