body{
    max-width:88px !important;
}

.calendar-container {
    border: 1px solid transparent;
    border-color: #fff #ddd;
    margin: 0 2em 2em
}

.cal-scheduler-event {
    max-width:88px !important;
}