.avatar {
    background: #a8a4a4; /* Background color for the frame */
    padding: 1em;
    border: 1px solid #ccc; /* Border around the frame */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for depth */
    text-align: center; /* Center-align the text */
  }

.item{
    background: white;
    border-radius: 8px;
}

.nick-name{
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 100px; /* Optional: rounded corners for the image */
}
.item h2 {
    margin: 0.5em 0 0; /* Space between image and text */
}

.cancel{
    display: flex;
    background-color: #eee;
    // justify-content: flex-start;
}

.insert{
    background-color: #eee;
}

.text-center{
    display: flex;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em; /* Adjust the gap between items as needed */
    padding: 1em;
    width: 100%;
    // background: red;
}

.stories-container {
    display: flex;
    overflow-x: scroll; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable snapping on scroll */
    white-space: nowrap; /* Prevent line breaks between stories */
}

.story {
    scroll-snap-align: start; /* Align stories at the beginning of viewport */
    width: 120px; /* Adjust width as needed */
    margin: 0 8px; /* Add spacing between stories */
    border-radius: 8px; /* Rounded corners for a nice look */
    background-color: #eee; /* Light background for separation */
    position: relative; /* Needed for story-info positioning */
}

.story-image {
    width: 100%;
    height: 120px; /* Adjust height as needed */
    object-fit: cover; /* Crop image to fit the container */
}

.story-info {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 5px;
    font-size: 12px;
}

/* Override ngx-bootstrap modal styles */
.modal-dialog {
    position: fixed;
    margin: auto;
    width: 50%;
    height: 100%;
    right: 0px;
}
.modal-content {
    height: 100%;
}

.file-upload input{
    display: none;
}
.file-upload{
    width: 150px;
    height: 150px;
    cursor: pointer;
    padding: 28px 10px;
    color: #fff;
    border-radius: 50%;
}

.mat-fab{
    background-color: #104cac;
    margin-inline: auto;
}

.arrow-forward{
    color: #ececec;
}

.save-record{
    width: 20%;
    margin-inline: auto;
}

img{
    width: 100%;
    height: 100%;
}