<app-header></app-header>
<router-outlet></router-outlet>

<div class="detail-bar" style="padding: 0 12px;">
    <div class="infor-detail">
      <button mat-fab class="mat-fab" [routerLink]="routerLink">
        <mat-icon>reply</mat-icon>
      </button>
      <button mat-fab class="mat-fab" (click)="openAdd(createService)" style="margin-left: 12px;" *ngIf="is_doctor"> 
        <img style="width: 50px;height:50px;" src="assets/medicine.png" alt="Logo">
      </button>
    </div>
</div>

<!-- 1 -->
<div class="add-record-screen">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên dịch vụ</th>
        <th scope="col">Giá dịch vụ</th>
        <th scope="col">KQ xét nghiệm</th>
        <th scope="col">nhận xét bác sĩ</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">{{is_doctor ? "Thêm kết quả" : "Xem kết quả"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of listService, let idx = index" >
          <td>{{ idx + 1 }}</td>
          <td>{{ i.serviceName }}</td>
          <td>{{ i.servicePrice }}</td>
          <td>
            <img style="width: 100px;height: 100px" [src]="i.result" alt="Ảnh kết quả" *ngIf="i.result">
            <span *ngIf="!i.result">Chưa có kết quả</span>
          </td>
          <td>{{ i.comment || "Chưa có nhận xét" }}</td>
          <td>{{ i.status === 0 ? "Chưa thanh toán" : "Đã thanh toán" }}</td>
          <td>
            <div class="verifySchedule">
              <button mat-fab class="mat-fab" (click)="openAddRecord(addRecord, i)" *ngIf="is_doctor">
                <mat-icon>content_paste</mat-icon>
              </button>      
              <button mat-fab class="mat-fab" (click)="openViewRecord(viewRecord, i)" *ngIf="!is_doctor">
                <mat-icon>remove_red_eye</mat-icon>
              </button>      
              <!-- <button mat-fab class="mat-fab" (click)="openDelete(deleteService, i.id, i.serviceName)" *ngIf="is_doctor">
                <mat-icon>delete</mat-icon>
              </button> -->
            </div>
          </td>        
      </tr>
    </tbody>
  </table>
</div>

<ng-template #createService>
  <form ngNativeValidate>
    <div class="modal-header">
      <b><h1 class="modal-title pull-left">Thêm dịch vụ phía khách hàng</h1></b>
      <!-- <button class="btn-close" aria-label="Close" (click)="closeLoginForm()"></button> -->
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="serviceName">Chọn dịch vụ</label>
        <!-- <input autocomplete="off" id="serviceName" required class="form-control mt-1" placeholder="Tên dịch vụ" [(ngModel)]="serviceName" [ngModelOptions]="{standalone: true}"> -->
         <!--  (change)="onSelectChange($event)" -->
        <select class="form-select" id="serviceName" required placeholder="Tên dịch vụ" [(ngModel)]="serviceName" [ngModelOptions]="{standalone: true}" (change)="onSelectService($event)"> 
          <option selected value="" disabled>Chọn dịch vụ</option>
          <option *ngFor="let i of listServiceCombobox" [value]="i.serviceName">{{ i.serviceName }}</option>
        </select>
      </div>
      <div class="form-group mt-3">
        <label for="servicePrice">Giá dịch vụ</label>
        <input autocomplete="off" id="servicePrice" required type="text" class="form-control mt-1" placeholder="giá" [(ngModel)]="servicePrice" [ngModelOptions]="{standalone: true}" disabled>
      </div>
    </div>
    <div class="modal-footer">
      <div class="operate-btn">
        <button type="button" class="btn btn-danger mt-3" (click)="closeDialog()">Huỷ</button>
        <button type="button" class="btn btn-warning mt-3" (click)="addAction()">Thêm</button>
      </div>
    </div>
  </form>
</ng-template>


<ng-template #deleteService>
  <form ngNativeValidate>
    <div class="modal-header">
      <b><h1 class="modal-title pull-left">Xoá thông tin dịch vụ phía khách hàng {{delete_serviceName}}</h1></b>
      <!-- <button class="btn-close" aria-label="Close" (click)="closeLoginForm()"></button> -->
    </div>
    <div class="modal-footer">
      <div class="operate-btn">
        <button type="button" class="btn btn-danger mt-3" (click)="closeDialog()">Huỷ</button>
        <button type="button" class="btn btn-warning mt-3" (click)="deleteAction()">Xoá</button>
      </div>
    </div>
  </form>
</ng-template>



<ng-template #addRecord>
  <form ngNativeValidate>
    <div class="modal-header">
      <b><h1 class="modal-title pull-left">Thêm kết quả khám</h1></b>
      <!-- <button class="btn-close" aria-label="Close" (click)="closeLoginForm()"></button> -->
    </div>
    <div class="modal-body">
      <div class="form-group mt-3">
        <label for="image_add">Hình ảnh kết quả</label>
        <input  type="file" accept=".jpg, .jpeg, .png, .pdf" (change)="onFileChangeAdd($event)" autocomplete="off" id="image_add" required class="form-control mt-1" [(ngModel)]="image" [ngModelOptions]="{standalone: true}" [disabled]="loadingStatusFile">
      </div>
      <div class="form-group mt-3" *ngIf="loadingStatusFile">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="form-group">
          <label for="comment">Nhận xét</label>
          <textarea autocomplete="off" id="comment" name="comment" class="form-control mt-1" placeholder="nhận xét" [(ngModel)]="comment" [ngModelOptions]="{standalone: true}" rows="4" cols="50"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <div class="operate-btn">
        <button type="button" class="btn btn-danger mt-3" (click)="closeDialog()">Huỷ</button>
        <button type="button" class="btn btn-warning mt-3" (click)="updateAction()">Cập nhật</button>
      </div>
    </div>
  </form>
</ng-template>


<ng-template #viewRecord class="view-record">
  <form ngNativeValidate>
    <div class="modal-header">
      <b><h1 class="modal-title pull-left">Xem kết quả khám</h1></b>
      <!-- <button class="btn-close" aria-label="Close" (click)="closeLoginForm()"></button> -->
    </div>
    <div class="modal-body">
      <div class="mb-12">
        <div class="title-view">Hình ảnh kết quả</div>
        <img
        style="cursor: pointer; width: 100%;"
        (click)="openImage()" 
        [src]="image"
        alt="Ảnh kết quả"
        />
      </div>
      <div class="mb-12">
        <div class="title-view">Nhận xét</div>
        <div>{{comment}}</div>
      </div>
      <!-- <div class="form-group mt-3">
        <label for="image_add">Hình ảnh kết quả</label>
        <input  type="file" accept=".jpg, .jpeg, .png, .pdf" (change)="onFileChangeAdd($event)" autocomplete="off" id="image_add" required class="form-control mt-1" [(ngModel)]="image" [ngModelOptions]="{standalone: true}" [disabled]="loadingStatusFile">
      </div>
      <div class="form-group mt-3" *ngIf="loadingStatusFile">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="form-group">
          <label for="comment">Nhận xét</label>
          <textarea autocomplete="off" id="comment" name="comment" class="form-control mt-1" placeholder="nhận xét" [(ngModel)]="comment" [ngModelOptions]="{standalone: true}" rows="4" cols="50"></textarea>
      </div> -->
    </div>
    <div class="modal-footer">
      <div class="operate-btn">
        <button type="button" class="btn btn-danger mt-3" (click)="closeDialog()">Đóng</button>
        <!-- <button type="button" class="btn btn-warning mt-3" (click)="updateAction()">Cập nhật</button> -->
      </div>
    </div>
  </form>
</ng-template>

<!-- <ng-template #viewDetailRecord>
  <div>
    <div class="modal-header">
      <b><h1 class="modal-title pull-left">Xem chi tiết bệnh án</h1></b>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="symptom_descriptionDetail">Biểu hiện bệnh</label>
        <input autocomplete="off" id="symptom_descriptionDetail" required class="form-control mt-1" placeholder="Triệu chứng mô tả" [(ngModel)]="symptom_descriptionDetail" [disabled]="true">
      </div>
      <div class="form-group">
        <label for="symptoms_timeDetail">Khoảng thời gian bị bệnh</label>
        <input autocomplete="off" id="symptoms_timeDetail" required class="form-control mt-1" placeholder="Thời gian bị bệnh" [(ngModel)]="symptoms_timeDetail" [disabled]="true"> 
      </div>
      <div class="form-group">
        <label for="body_temperatureDetail">Nhiệt độ cơ thể</label>
        <input autocomplete="off" id="body_temperatureDetail" required class="form-control mt-1" placeholder="Cơ thể nhiệt độ" [(ngModel)]="body_temperatureDetail" [disabled]="true">
      </div>
      <div class="form-group">
        <label for="test_resultsDetail">Kết quả test</label>
        <input autocomplete="off" id="test_resultsDetail" required class="form-control mt-1" placeholder="Kết quả test" [(ngModel)]="test_resultsDetail" [disabled]="true">
      </div>
      <div class="form-group">
        <label for="medicationsDetail">Dùng loại thuốc</label>
        <input autocomplete="off" id="medicationsDetail" required class="form-control mt-1" placeholder="Thuốc" [(ngModel)]="medicationsDetail" [disabled]="true">
      </div>
      <div class="form-group">
        <label for="nutritionDetail">Chế độ dinh dưỡng</label>
        <input autocomplete="off" id="nutritionDetail" required class="form-control mt-1" placeholder="Chế độ dinh dưỡng" [(ngModel)]="nutritionDetail" [disabled]="true">
      </div>
      <div class="form-group">
        <label for="re_examinationDetail">Lịch tái khám</label>
        <input autocomplete="off" id="re_examinationDetail" required class="form-control mt-1" placeholder="Lịch tái khám" [(ngModel)]="re_examinationDetail" [disabled]="true">
      </div>
    </div>
    <div class="modal-footer">
      <div class="operate-btn">
        <button type="submit" class="btn btn-danger mt-3" (click)="closeDialog()">Đóng</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addPetRecordForm>
  <div>
    <div class="modal-header">
      <b><h1 class="modal-title pull-left">Thông tin pet của bạn</h1></b>
    </div>
    <div class="modal-body">
      <h1>1. Thông Tin Chủ Thú Cưng</h1>
      <div class="form-group">
        <label for="userName">Họ và tên chủ nuôi</label>
        <input autocomplete="off" required class="form-control mt-1" placeholder="Họ và tên chủ nuôi" [(ngModel)]="userName" [disabled]="true" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="userPhone">Số điện thoại</label>
        <input autocomplete="off" required class="form-control mt-1" placeholder="Số điện thoại" [(ngModel)]="userPhone" [disabled]="true" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="userAddress">Địa chỉ</label>
        <input autocomplete="off" required class="form-control mt-1" placeholder="Địa chỉ" [(ngModel)]="userAddress" [disabled]="true" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="userGmail">Email</label>
        <input autocomplete="off" required class="form-control mt-1" placeholder="Email" [(ngModel)]="userGmail" [disabled]="true" [ngModelOptions]="{standalone: true}">
      </div>

      <h1>2. Thông Tin Thú Cưng</h1>
      <div class="form-group">
        <label for="petName">Tên thú cưng</label>
        <input autocomplete="off" required class="form-control mt-1" placeholder="Tên thú cưng" [(ngModel)]="petName" [disabled]="true" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="petAge">Tuổi</label>
        <input autocomplete="off" required class="form-control mt-1" placeholder="Tuổi" [(ngModel)]="petAge" [disabled]="true" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="symptom_description">Triệu chứng mô tả</label>
        <input autocomplete="off" required class="form-control mt-1" placeholder="Triệu chứng mô tả" [(ngModel)]="symptom_description" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="symptoms_time">Thời gian bị bệnh</label>
        <input autocomplete="off" required class="form-control mt-1" placeholder="Thời gian bị bệnh" [(ngModel)]="symptoms_time" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="body_temperature">Cơ thể nhiệt độ</label>
        <input autocomplete="off" required class="form-control mt-1" placeholder="Cơ thể nhiệt độ" [(ngModel)]="body_temperature" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="test_results">Kết quả test</label>
        <input autocomplete="off" required class="form-control mt-1" placeholder="Kết quả test" [(ngModel)]="test_results" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="external_examinationd">Sơ bộ-chẩn đoán</label>
        <input autocomplete="off" required class="form-control mt-1" placeholder="Sơ bộ-chẩn đoán" [(ngModel)]="external_examinationd" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="medications">Thuốc</label>
        <input autocomplete="off" required class="form-control mt-1" placeholder="Thuốc" [(ngModel)]="medications" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="nutrition">Chế độ dinh dưỡng</label>
        <input autocomplete="off" required class="form-control mt-1" placeholder="Chế độ dinh dưỡng" [(ngModel)]="nutrition" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="re_examination">Lịch tái khám</label>
        <input autocomplete="off" required class="form-control mt-1" placeholder="Lịch tái khám" [(ngModel)]="re_examination" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="modal-footer">
      <div class="operate-btn">
        <button type="submit" class="btn btn-danger mt-3" (click)="closeDialog()">Huỷ</button>
        <button type="submit" class="btn btn-primary mt-3" (click)="createPetRecord()">Tạo</button>
      </div>
    </div>
  </div>
</ng-template> -->
