.tab-container {
    display: flex;
    gap: 5px;
}

.operate-btn{
    display: flex;
    gap: 10px;
}

.medicineDoctor{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-left: 5%;
}

.btnModify{
    display: flex;
    gap: 10px;
}